@model IEnumerable<MoneyTransferWeb.Models.TransactionChild>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TAmountR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAmountS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TAmountR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAmountS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChildID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChildID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChildID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
