@model IEnumerable<MoneyTransferWeb.Models.Capital>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CAmountR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAmountS)
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.UAmountR)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UAmountS)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CAmountR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAmountS)
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.UAmountR)*@
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.UAmountS)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CapitalID">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.CapitalID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.CapitalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
