@model MoneyTransferWeb.Models.Capital

@{
    ViewData["Title"] = "Details";
}

<h1>ប្រាក់ដើម @*@Model.CreatedDateTime.ToString("dd-MMM-yyy")*@</h1>
<div width:fit-content" class="container">
    @*<h4>Capital</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAmountR)
        </dt>
        <dd class = "col-md-10" >
            @Html.DisplayFor(model => model.CAmountR)
        </dd>
        @*<dd class="col-sm-8"></dd>*@

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAmountS)
        </dt>

        <dd class = "col-sm-10" >
            @Html.DisplayFor(model => model.CAmountS)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class="col-sm-10" >
            @Html.DisplayFor(model => model.CreatedDateTime)           
        </dd>
        
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.CapitalID">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>

@Html.Partial("../Balances/_List",Model.Balances)
@Html.Partial("../Withdraws/Index",Model.Withdraws)


